<div class="column">
  <nav class="panel">
    <p class="panel-heading">
      Who To Follow
    </p>
  </nav>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Nate Mahalingam</strong>
            <small>@nate</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Nate Mahalingam</strong>
            <small>@nate</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Nate Mahalingam</strong>
            <small>@nate</small>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>